* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

html, body {
    min-height: 100%;
    width: 100%;
}

body {
    background: white;
    background-repeat: no-repeat;
}

.header-container {
  display: flex;
  width: 100%;
}

.nav-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #082567;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 1000;
}

.nav-options {
  transition: 0.3s;
}

.nav-list {
  list-style: none; 
}

.link {
  margin-left: 10vw;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color:white;
}

.link:hover {
  border-color: white;
  font-weight: 600;
}

.hero {
  height: 100vh;
  width: 100vw;
}

.principios-title {
  color: black;
  font-size: 50px;
  padding-bottom: 10vh;
}

.principios-container {
  padding: 20vh 0 20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principios-container div {
  display: flex;
  justify-content:space-between;
  width: 60vw;
}

.principio {
    width: 20%;
    height:20%;
    border-radius: 50%;
    opacity: 0.80;
    transition: 1s ease;
    cursor: pointer;
}

.principio:hover {
  width: 22%;
  height: 22%;
  opacity: 1;
  transition: 1.5s ease;
}

.servicios-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-bottom: 10vh;
}

.servicios-title {
  color: black;
  font-size: 50px;
  padding-bottom: 5vh;
}


.servicios-section p {
  color: black;
  font-size: 1.5em;
  padding-bottom: 8vh;
}

.servicios-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vw;
  width: 20%;
  background-color: white;
  border: #082567 2px;
  border-radius: 15px;
}

.servicios h4 {
  color: black;
  margin: 3vh 0 3vh;
  font-size: 1.2em;
  font-weight: bold;
}

.servicios img {
  background-color: #87CEFA;
  width: 70%;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3vh;
}

.servicios p {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

/* Contact Section  */

.form-section {
  display: flex;
  flex-direction: column;
  
  width:100vw;
  height: 50vh;
  margin-top: 10vh;
}