* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  background: white;
  background-repeat: no-repeat;
}

/* Hero Section */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 7.5vh;
}

/* The dots/bullets/indicators */

.dot-container {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.hero {
  margin-top: 7.5vh;
  height: 35vh;
  width: 100vw;
  object-fit: cover;
}

.header-container {
  display: flex;
  width: 100vw;
}

.nav-bar {
  width: 0;
  height: 0;
}

.nav-mobil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #082567;
  transition: 0.3s;
  width: 100vw;
  height: 7.5vh;
  position: fixed;
  z-index: 1000;
}

.nav-mobil li {
  list-style: none;
}

.mobil-list {
  visibility: hidden;
}

.mobil-link {
  color: white;
  margin-top: -200px;
}

.hamburger {
  flex: 1;
  margin-left: -70vw;
}

.bar {
  display: block;
  width: 6vw;
  height: 0.5vh;
  margin: 0.6vh auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger.active.bar:nth-child(1) {
  margin-top: 5vh;
  margin-left: 10vw;
  transform: translateY(12px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  margin-top: 1.5vh;
  margin-left: 10vw;
  transform: translateY(-16px) rotate(-45deg);
}

.nav-mobil.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: -5vh;
  transition: 0.3s;
  z-index: 1;
  width: 110vw;
  height: 100vh;
  padding-bottom: 10vh;
  visibility: visible;
}

.nav-mobil.active .mobil-list {
  gap: 2vh;
  margin-top: -40vh;
  margin-left: 14vw;
  visibility: visible;
}

.mobil-list.active {
  visibility: visible;
  position: absolute;
}

/* Principios Section Mobile */

.principios-title {
  color: black;
  font-size: 2em;
  padding-bottom: 5vh;
}

.principios-container {
  padding: 10vh 0 30vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.principios {
  width: 90%;
}

.principio {
  width: 40%;
  height: 20%;
  border-radius: 50%;
  opacity: 0.8;
  transition: 1s ease;
  cursor: pointer;
  margin-bottom: 2vh;
}

.principio_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.principio_container:hover {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.principio_btn {
  margin-top: 0;
  background-color: #ff8000;
  color: white;
  opacity: 1;
  border-radius: 5px;
  border: 3px solid #ff8000;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
}

/* Servicios Section */

.servicios-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-bottom: 10vh;
}

.servicios-title {
  color: black;
  font-size: 2em;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  width: 90vw;
}

.invitacion {
  color: black;
  font-size: 1.5em;
  padding-bottom: 8vh;
  width: 80vw;
}

.servicios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin-left: 2.5vw;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 80vw;
  background-image: none;
  background-color: #104e8b;
  border: #082567 solid 2px;
  border-radius: 15px;
  margin-top: 5vh;
}
  

.servicios h3 {
  color: white;
  margin: 10vh 0 3vh 0;
  font-size: 1.2em;
  font-weight: bold;
}

.servicios img {
  background-color: white;
  width: 35%;
  height: 25%;
  border-radius: 50%;
  overflow: hidden;
  margin: 3vh 0 3vh 2vw;
}

.dia {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

/* Modal */

.modal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.90);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-img {
  width:100%;
}

.modal-content {
  position:relative;
  background-color: white;
  width: 80%;
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
}

.modal-text {
  margin-top: 20px;
  line-height: 1.6;
}

.close-btn {
  justify-self: end;
  font-size: 2rem;
  cursor: pointer;
}

/* Form Section */

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section h3 {
  margin-bottom: 2vh;
  align-self: center;
}

.servicios:hover > h3 {
  display: block;
}

.form {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 86vw;
  padding-left: 5%;
  border-bottom: solid #082567 3px;
}

.info-container {
  width: 90vw;
  height: 75vh;
  margin: 0 5vw 5vw 5vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  border: solid #082567 3px;
}

.label-name {
  grid-row: 1/2;
  width: 90%;
  margin: 1vh 0 2vh 0;
}

.text-name {
  grid-row: 1/2;
  width: 90%;
  padding: 1vh 0 1vh 0;
}

.label-email {
  grid-row: 1/2;
  margin: 1vh 0 2vh 0;
}

.text-email {
  grid-row: 1/2;
  width: 90%;
  padding: 1vh 0 1vh 0;
}

.label-message {
  grid-row: 1/2;
  margin: 1vh 0 2vh 0;
}

.text-message {
  grid-row: 1/2;
  width: 90%;
  padding: 1vh 0 0 0;
  height: 20vh;
}

button {
  grid-row: 1/2;
  width: 30%;
  margin-top: 3vh;
  padding: 1vh;
  align-self: center;
  margin-bottom: 2%;
}

.phone-image {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 1.2em;
  padding: 1vh 0 0 13vw;
}

.phone-number {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 1vh 0 0 20vw;
}

.mail-image {
  grid-column: 1/2;
  grid-row: 3/4;
  height: 1.2em;
  padding: 0 0 0 13vw;
}

.email {
  grid-column: 1/2;
  grid-row: 3/4;
  border-bottom: solid #082567 3px;
  padding: 0 0 1vh 20vw;
}

.address-image {
  grid-column: 1/2;
  grid-row: 4/5;
  height: 1.2em;
  padding: 3vh 0 0 13vw;
}

.address {
  grid-column: 1/2;
  grid-row: 4/5;
  border-bottom: solid #082567 3px;
  padding: 1vh 0 1vh 20vw;
}

.social-networks {
  grid-column: 1/2;
  grid-row: 8/9;
}

.list-social {
  height: 40%;
  list-style: none;
}

.fb {
  height: 2em;
  margin-left: 20vw;
}

@media (min-width: 767px) {
  .nav-mobil {
    visibility: hidden;
  }

  .nav-options {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #082567;
    transition: 0.3s;
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 1000;
  }

  .nav-list {
    list-style: none;
  }

  .link {
    margin-left: 10vw;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
    color: white;
    z-index: 1000;
  }

  .link:hover {
    border-color: white;
    font-weight: 600;
  }

  .hamburger {
    visibility: hidden;
  }

  .nav-bar {
    visibility: visible;
  }
  .text {
  width: 100vw;
  }

  .next {
    right: -32vw;
  }

  .slideshow-container {
    margin: 0;
  }

  .hero {
    height: 80vh;
    width: 100vw;
  }

  .numbertext {
    top: 10vh;
  }

  .dot-container {
  width: 100vw;
}


  .principios-title {
    font-size: 3.2em;
    padding-bottom: 10vh;
  }

  .principios-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 20vh 0 20vh 5vw;
  }

  .principios {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .principio_container {
    display: flex;
    flex-direction: column;
    width: 25vw;
  }

  .principio_container:hover {
    display: flex;
    flex-direction: column;
  }

  .principio {
    width: 10vw;
    height: 20vh;
  }

  .principio_btn {
    background-color: #ff8000;
    color: white;
    opacity: 0;
  }

  .principio_container:hover > .principio_btn {
  opacity: 1;
  }

  .principio_container:hover > .principio_btn {
    opacity: 1;
  }

  /* Modal Desktop */
  
  .modal {
    width: 100vw;
    height: 100vh;
    align-items: center;
  }

  .modal-content {
    height: 80vh;
  }

  .close-btn {
    top: 10px;
    right: 20px;
  }

  .modal-img {
    height: 50vh;
    object-fit: cover;
  }

  .servicios-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-bottom: 10vh;
  }

  .servicios-title {
    color: black;
    font-size: 3.2em;
    padding-bottom: 5vh;
  }

  .invitacion {
    color: black;
    font-size: 1.5em;
    padding-bottom: 8vh;
    width: 60vw;
    padding-left: 5vw;
  }

  .servicios-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin-left: 0;
  }

  .servicios {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 20vw;
    border: black solid 2px;
    border-radius: 15px;
    background-image: url(img/servicios/florazul.jpeg);
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
    border-radius: 15px;
    margin-bottom: 5vh;
    cursor: pointer;
  }

  .servicios:hover {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #104e8b;
    border: #082567 solid 2px;
    border-radius: 15px;
    height: 50vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .servicios h3 {
    color: white;
    margin: 3vh 0 3vh;
    font-size: 1.2em;
    font-weight: bold;
    display: none;
  }

  .servicios img {
    background-color: white;
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0 2vh .8vw;
    position: relative;
  }

  .dia {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    display: none;
  }

  .servicios:hover > .servicios {
  background-image: none;
  }

  .servicios:hover > p {
    display: block;
    display: flex;
    justify-content: center;
    color: white;
  }

  /* Contact Section  Desktop */

  .form-section {
    margin-top: 20vh;
    display: flex;
    align-items: center;
  }

  .info-container {
    width: 60vw;
    height: 50vh;
    margin: 0 5vw 5vw 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    border: solid #082567 3px;
  }

  .phone-image {
    padding: 1vh 0 0 3vw;
    grid-row: 1/2;
    height: 1.2em;
  }

  .phone-number {
    padding: 1vh 0 0 7vw;
    grid-row: 1/2;
    border-right: solid #082567 3px;
  }

  .mail-image {
    padding: 1vh 0 0 3vw;
    grid-row: 2/3;
  }

  .email {
    padding: 1vh 0 0 7vw;
    grid-row: 2/3;
    border-right: solid #082567 3px;
  }

  .address-image {
    padding: 2vh 0 0 3vw;
    grid-row: 3/5;
  }

  .address {
    padding: 2vh 0 0 7vw;
    grid-row: 3/5;
    border-right: solid #082567 3px;
  }

  .social-networks {
    grid-row: 6/7;
  }

  .fb {
    margin-left: 10vw;
  }

  .form {
    grid-column: 2/3;
    grid-row: 1/7;
    width: 80%;
    margin-left: 10%;
    border-bottom: none;
  }

  .label-name {
    grid-row: 1/2;
    width: 100%;
    margin: 1vh 0 1vh 0;
  }

  .text-name {
    grid-row: 2/3;
  }

  .label-email {
    grid-row: 3/4;
  }

  .text-email {
    grid-row: 4/5;
  }

  .label-message {
    grid-row: 5/6;
  }

  .text-message {
    grid-row: 6/7;
  }

  button {
    grid-row: 7/8;
  }
}
